{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": true
}
