:root {
  --primary-bl: #000000ba;
  --sec-bl: #1d1d1d69;
  --tert-bl: #504f4fba;
  --primar-wh: #ffffffba;
  --tert-wh: #ffffffe6;
}

@keyframes dropIn {
  0% {
    top: -45%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: 5%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes highlight {
  0% {
    filter: contrast(100%);
    opacity: 1;
  }
  50% {
    filter: contrast(80%);
    opacity: 0.5;
  }
  100% {
    filter: contrast(100%);
    opacity: 1;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--primary-bl);
}

header,
header > * {
  animation: fadeIn 3s ease-in-out;
}

dialog.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem #000;
  display: flex;
  flex-flow: column nowrap;
  height: max-content;
  left: 5%;
  padding-block: calc(0.5rem + 2%);
  padding-inline: 2%;
  position: relative;
  width: 85vw;
  z-index: 900;
  animation: dropIn 0.3s ease-out forwards, fadeIn 0.6s ease-in-out forwards;
}

.modal-content form {
  animation: fadeIn 2s ease-in-out;
}

.modal-content::backdrop {
  background-color: rgba(0, 0, 0, 0.5019607843);
}

section {
  padding: 2%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

output {
  min-height: 2.3rem;
}

label,
output {
  margin-bottom: 0.5vh;
}

label {
  color: var(--primar-wh);
}

ul,
ol,
menu,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  margin-bottom: 2vh;
}

button.btn-info {
  background: linear-gradient(to right, #4aacbbda, #0cacc5ed);
  border-color: transparent;
}

.form-control.result-output,
input.form-control {
  border: 0.15rem solid #ced4da9d;
}

.divInp label,
.divResult label {
  margin-block: 0.5rem;
  white-space: nowrap;
}

.divInp .form-control,
.divResult .form-control {
  background: var(--tert-bl);
}

.divInp .form-control::placeholder,
.divResult .form-control::placeholder {
  color: var(--primar-wh);
  transition: color 2s ease-in-out;
  opacity: 0.6;
}

.divInp .red-ph.form-control::placeholder,
.divResult .red-ph.form-control::placeholder {
  color: #af091cca;
}

.inp-entry {
  transition: border 2s ease-in-out;
  color: var(--primar-wh);
}

.inp-entry:focus {
  color: var(--tert-wh);
}

.inp-entry::selection {
  color: var(--primary-bl);
}

[id*="divResults"] {
  width: 25vw;
}

#divEntry {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, 44.5vw);
  white-space: normal;
  column-gap: 3vw;
  margin-block: 2rem;
}

#resultsGrid {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 28.3vw);
  column-gap: 3vw;
  scrollbar-width: thin;
}

#resultsGrid label {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .divInp label,
  .divResult label {
    margin-block: 0.5rem;
    white-space: pre-wrap;
  }

  [id*="divResults"] {
    width: 80vw;
  }
  #divEntry {
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
    white-space: normal;
    margin-top: 0;
  }
  #resultsGrid {
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
  }
}
