:root {
  --primary-bl: #000000ba;
  --sec-bl: #1d1d1d69;
  --tert-bl: #504f4fba;
  --primar-wh: #ffffffba;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--primary-bl);
}

section {
  padding: 2%;
  display: flex;
  align-items: center;
  margin: auto auto;
}

output {
  min-height: 2.3rem;
}

label,
output {
  margin-bottom: 0.5vh;
}

label {
  color: var(--primar-wh);
}

button,
#divEntry {
  margin-bottom: 2vh;
}

.divInp,
.divResult {
  .form-control {
    background: var(--tert-bl);
    &::placeholder {
      color: var(--primar-wh);
    }
  }
}

[id*="divResults"] {
  width: 25vw;
}

#divEntry {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, 30vw);
  white-space: normal;
  column-gap: 3vw;
  margin-top: 2vh;
}

#resultsGrid {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 25vw);
  column-gap: 3vw;
  overflow: auto;
  scrollbar-width: thin;
}

@media screen and (max-width: 900px) {
  [id*="divResults"] {
    width: 80vw;
  }
  #divEntry {
    display: flex;
    flex-flow: column nowrap;
    white-space: normal;
    width: 80vw;
  }
  #resultsGrid {
    display: flex;
    flex-flow: column nowrap;
  }
}
